*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs:h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* buttons */
.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/*Typography*/


h1, h2, h3 {
    line-height: 1;
    margin: 0;

}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

.section_title {
    margin-bottom: .25em;
}

.section_title_intro {
    font-weight: var(--fw-reg);
}

.section_title_intro strong {
    display: block;
}

.section_subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section_subtitle_intro, 
.section_subtitle_about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-top: 1em;
}

.section_subtitle_work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}


/* header */
nav {
    display: none;
}
/* intro setion */

.intro {
    position: relative;
}

.intro_img {
    box-shadow: var(--bs);
}

.section_subtitle_intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;

    }

    .intro_img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section_subtitle_intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}


/* What i do */

.my_services {
    background-color: var(--clr-dark);
    background-image: url(../img/background_img02.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section_title_services {
    color: var(--clr-accent);
    position: relative;
}

.section_title_services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}


/* About Me */

.about_me {
    max-width: 1000px;
    margin: 0 auto;
}

.about_me_img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about_me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
    }

    
    .section_title_about{
        grid-area: title;
    }
    .section_subtitle_about {
        grid-column:  1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% +2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about_me_img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* my work */

.my_work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio_item {
    background: var(--clr-accent);
    overflow: hidden;

}

.portfolio div{
    overflow: hidden;
}

.portfolio_img {    
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
                opacity 250ms linear;
}

.portfolio_item:focus {
    position: relative;
    z-index: 2;
}

.portfolio_img:hover, .portfolio_item:focus .portfolio_img {
    transform: scale(1.2);
    opacity: .75;
}